#content_MainPageContent_X_val {
  height: 30px;
}

#content_MainPageContent_X_val {
  top: 80px;
  position: absolute;
}

#content_MainPageContent_X_val {
  left: 140px;
  position: absolute;
}

#content_MainPageContent_X_val {
  width: 140px;
}

#content_MainPageContent_X_val {
  z-index: 0;
}

#content_MainPageContent_X_val input {
  color: red;
}

#content_MainPageContent_X_val span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_X_val input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_X_val input {
  font-size: 24px;
}

#content_MainPageContent_Position_text {
  height: 30px;
}

#content_MainPageContent_Position_text {
  top: 20px;
  position: absolute;
}

#content_MainPageContent_Position_text {
  left: 40px;
  position: absolute;
}

#content_MainPageContent_Position_text {
  width: 120px;
}

#content_MainPageContent_Position_text {
  z-index: 1;
}

#content_MainPageContent_Position_text {
  font-size: 20px;
}

#content_MainPageContent_X {
  height: 30px;
}

#content_MainPageContent_X {
  top: 80px;
  position: absolute;
}

#content_MainPageContent_X {
  left: 80px;
  position: absolute;
}

#content_MainPageContent_X {
  width: 40px;
}

#content_MainPageContent_X {
  z-index: 2;
}

#content_MainPageContent_X {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Y {
  height: 30px;
}

#content_MainPageContent_Y {
  top: 140px;
  position: absolute;
}

#content_MainPageContent_Y {
  left: 80px;
  position: absolute;
}

#content_MainPageContent_Y {
  width: 40px;
}

#content_MainPageContent_Y {
  z-index: 3;
}

#content_MainPageContent_Y {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Z {
  height: 30px;
}

#content_MainPageContent_Z {
  top: 200px;
  position: absolute;
}

#content_MainPageContent_Z {
  left: 80px;
  position: absolute;
}

#content_MainPageContent_Z {
  width: 40px;
}

#content_MainPageContent_Z {
  z-index: 4;
}

#content_MainPageContent_Z {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_A {
  height: 30px;
}

#content_MainPageContent_A {
  top: 260px;
  position: absolute;
}

#content_MainPageContent_A {
  left: 80px;
  position: absolute;
}

#content_MainPageContent_A {
  width: 40px;
}

#content_MainPageContent_A {
  z-index: 5;
}

#content_MainPageContent_A {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_B {
  height: 30px;
}

#content_MainPageContent_B {
  top: 320px;
  position: absolute;
}

#content_MainPageContent_B {
  left: 80px;
  position: absolute;
}

#content_MainPageContent_B {
  width: 40px;
}

#content_MainPageContent_B {
  z-index: 6;
}

#content_MainPageContent_B {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_C {
  height: 30px;
}

#content_MainPageContent_C {
  top: 380px;
  position: absolute;
}

#content_MainPageContent_C {
  left: 80px;
  position: absolute;
}

#content_MainPageContent_C {
  width: 40px;
}

#content_MainPageContent_C {
  z-index: 7;
}

#content_MainPageContent_C {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Q1 {
  height: 30px;
}

#content_MainPageContent_Q1 {
  top: 80px;
  position: absolute;
}

#content_MainPageContent_Q1 {
  left: 340px;
  position: absolute;
}

#content_MainPageContent_Q1 {
  width: 60px;
}

#content_MainPageContent_Q1 {
  z-index: 8;
}

#content_MainPageContent_Q1 {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Q2 {
  height: 30px;
}

#content_MainPageContent_Q2 {
  top: 140px;
  position: absolute;
}

#content_MainPageContent_Q2 {
  left: 340px;
  position: absolute;
}

#content_MainPageContent_Q2 {
  width: 60px;
}

#content_MainPageContent_Q2 {
  z-index: 9;
}

#content_MainPageContent_Q2 {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Q3 {
  height: 30px;
}

#content_MainPageContent_Q3 {
  top: 200px;
  position: absolute;
}

#content_MainPageContent_Q3 {
  left: 340px;
  position: absolute;
}

#content_MainPageContent_Q3 {
  width: 60px;
}

#content_MainPageContent_Q3 {
  z-index: 10;
}

#content_MainPageContent_Q3 {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Q4 {
  height: 30px;
}

#content_MainPageContent_Q4 {
  top: 260px;
  position: absolute;
}

#content_MainPageContent_Q4 {
  left: 340px;
  position: absolute;
}

#content_MainPageContent_Q4 {
  width: 60px;
}

#content_MainPageContent_Q4 {
  z-index: 11;
}

#content_MainPageContent_Q4 {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Q5 {
  height: 30px;
}

#content_MainPageContent_Q5 {
  top: 320px;
  position: absolute;
}

#content_MainPageContent_Q5 {
  left: 340px;
  position: absolute;
}

#content_MainPageContent_Q5 {
  width: 60px;
}

#content_MainPageContent_Q5 {
  z-index: 12;
}

#content_MainPageContent_Q5 {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Q6 {
  height: 30px;
}

#content_MainPageContent_Q6 {
  top: 380px;
  position: absolute;
}

#content_MainPageContent_Q6 {
  left: 340px;
  position: absolute;
}

#content_MainPageContent_Q6 {
  width: 60px;
}

#content_MainPageContent_Q6 {
  z-index: 13;
}

#content_MainPageContent_Q6 {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Q6 span {
  color: #474747;
}

#content_MainPageContent_Z_val {
  height: 30px;
}

#content_MainPageContent_Z_val {
  top: 200px;
  position: absolute;
}

#content_MainPageContent_Z_val {
  left: 140px;
  position: absolute;
}

#content_MainPageContent_Z_val {
  width: 140px;
}

#content_MainPageContent_Z_val {
  z-index: 14;
}

#content_MainPageContent_Z_val input {
  color: red;
}

#content_MainPageContent_Z_val span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_Z_val input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_Z_val input {
  font-size: 24px;
}

#content_MainPageContent_Y_val {
  height: 30px;
}

#content_MainPageContent_Y_val {
  top: 140px;
  position: absolute;
}

#content_MainPageContent_Y_val {
  left: 140px;
  position: absolute;
}

#content_MainPageContent_Y_val {
  width: 140px;
}

#content_MainPageContent_Y_val {
  z-index: 15;
}

#content_MainPageContent_Y_val input {
  color: red;
}

#content_MainPageContent_Y_val span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_Y_val input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_Y_val input {
  font-size: 24px;
}

#content_MainPageContent_A_val {
  height: 30px;
}

#content_MainPageContent_A_val {
  top: 260px;
  position: absolute;
}

#content_MainPageContent_A_val {
  left: 140px;
  position: absolute;
}

#content_MainPageContent_A_val {
  width: 140px;
}

#content_MainPageContent_A_val {
  z-index: 16;
}

#content_MainPageContent_A_val input {
  color: red;
}

#content_MainPageContent_A_val span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_A_val input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_A_val input {
  font-size: 24px;
}

#content_MainPageContent_C_val {
  height: 30px;
}

#content_MainPageContent_C_val {
  top: 380px;
  position: absolute;
}

#content_MainPageContent_C_val {
  left: 140px;
  position: absolute;
}

#content_MainPageContent_C_val {
  width: 140px;
}

#content_MainPageContent_C_val {
  z-index: 17;
}

#content_MainPageContent_C_val input {
  color: red;
}

#content_MainPageContent_C_val span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_C_val input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_C_val input {
  font-size: 24px;
}

#content_MainPageContent_B_val {
  height: 30px;
}

#content_MainPageContent_B_val {
  top: 320px;
  position: absolute;
}

#content_MainPageContent_B_val {
  left: 140px;
  position: absolute;
}

#content_MainPageContent_B_val {
  width: 140px;
}

#content_MainPageContent_B_val {
  z-index: 18;
}

#content_MainPageContent_B_val input {
  color: red;
}

#content_MainPageContent_B_val span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_B_val input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_B_val input {
  font-size: 24px;
}

#content_MainPageContent_Q1_val {
  height: 30px;
}

#content_MainPageContent_Q1_val {
  top: 80px;
  position: absolute;
}

#content_MainPageContent_Q1_val {
  left: 400px;
  position: absolute;
}

#content_MainPageContent_Q1_val {
  width: 140px;
}

#content_MainPageContent_Q1_val {
  z-index: 19;
}

#content_MainPageContent_Q1_val input {
  color: red;
}

#content_MainPageContent_Q1_val span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_Q1_val input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_Q1_val input {
  font-size: 24px;
}

#content_MainPageContent_Q2_val {
  height: 30px;
}

#content_MainPageContent_Q2_val {
  top: 140px;
  position: absolute;
}

#content_MainPageContent_Q2_val {
  left: 400px;
  position: absolute;
}

#content_MainPageContent_Q2_val {
  width: 140px;
}

#content_MainPageContent_Q2_val {
  z-index: 20;
}

#content_MainPageContent_Q2_val input {
  color: red;
}

#content_MainPageContent_Q2_val span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_Q2_val input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_Q2_val input {
  font-size: 24px;
}

#content_MainPageContent_Q3_val {
  height: 30px;
}

#content_MainPageContent_Q3_val {
  top: 200px;
  position: absolute;
}

#content_MainPageContent_Q3_val {
  left: 400px;
  position: absolute;
}

#content_MainPageContent_Q3_val {
  width: 140px;
}

#content_MainPageContent_Q3_val {
  z-index: 21;
}

#content_MainPageContent_Q3_val input {
  color: red;
}

#content_MainPageContent_Q3_val span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_Q3_val input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_Q3_val input {
  font-size: 24px;
}

#content_MainPageContent_A_val4 {
  height: 30px;
}

#content_MainPageContent_A_val4 {
  top: 260px;
  position: absolute;
}

#content_MainPageContent_A_val4 {
  left: 400px;
  position: absolute;
}

#content_MainPageContent_A_val4 {
  width: 140px;
}

#content_MainPageContent_A_val4 {
  z-index: 22;
}

#content_MainPageContent_A_val4 input {
  color: red;
}

#content_MainPageContent_A_val4 span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_A_val4 input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_A_val4 input {
  font-size: 24px;
}

#content_MainPageContent_Q5_val {
  height: 30px;
}

#content_MainPageContent_Q5_val {
  top: 320px;
  position: absolute;
}

#content_MainPageContent_Q5_val {
  left: 400px;
  position: absolute;
}

#content_MainPageContent_Q5_val {
  width: 140px;
}

#content_MainPageContent_Q5_val {
  z-index: 23;
}

#content_MainPageContent_Q5_val input {
  color: red;
}

#content_MainPageContent_Q5_val span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_Q5_val input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_Q5_val input {
  font-size: 24px;
}

#content_MainPageContent_Q6_val {
  height: 30px;
}

#content_MainPageContent_Q6_val {
  top: 380px;
  position: absolute;
}

#content_MainPageContent_Q6_val {
  left: 400px;
  position: absolute;
}

#content_MainPageContent_Q6_val {
  width: 140px;
}

#content_MainPageContent_Q6_val {
  z-index: 24;
}

#content_MainPageContent_Q6_val input {
  color: red;
}

#content_MainPageContent_Q6_val span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_Q6_val input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_Q6_val input {
  font-size: 24px;
}

#content_MainPageContent_Program_monitor {
  height: 30px;
}

#content_MainPageContent_Program_monitor {
  top: 460px;
  position: absolute;
}

#content_MainPageContent_Program_monitor {
  left: 40px;
  position: absolute;
}

#content_MainPageContent_Program_monitor {
  width: 220px;
}

#content_MainPageContent_Program_monitor {
  z-index: 25;
}

#content_MainPageContent_Program_monitor {
  font-size: 20px;
}

#content_MainPageContent_Second_Last {
  height: 30px;
}

#content_MainPageContent_Second_Last {
  top: 520px;
  position: absolute;
}

#content_MainPageContent_Second_Last {
  left: 60px;
  position: absolute;
}

#content_MainPageContent_Second_Last {
  width: 600px;
}

#content_MainPageContent_Second_Last {
  z-index: 26;
}

#content_MainPageContent_Second_Last {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Second_Last {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_MainPageContent_Second_Last {
  font-weight: normal;
}

#content_MainPageContent_Last {
  height: 30px;
}

#content_MainPageContent_Last {
  top: 560px;
  position: absolute;
}

#content_MainPageContent_Last {
  left: 60px;
  position: absolute;
}

#content_MainPageContent_Last {
  width: 600px;
}

#content_MainPageContent_Last {
  z-index: 27;
}

#content_MainPageContent_Last {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Last {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_MainPageContent_Last {
  font-weight: normal;
}

#content_MainPageContent_Current {
  height: 30px;
}

#content_MainPageContent_Current {
  top: 600px;
  position: absolute;
}

#content_MainPageContent_Current {
  left: 60px;
  position: absolute;
}

#content_MainPageContent_Current {
  width: 600px;
}

#content_MainPageContent_Current {
  z-index: 28;
}

#content_MainPageContent_Current {
  background-color: darkorange;
}

#content_MainPageContent_Current {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_MainPageContent_Current {
  font-weight: bold;
}

#content_MainPageContent_Next {
  height: 30px;
}

#content_MainPageContent_Next {
  top: 640px;
  position: absolute;
}

#content_MainPageContent_Next {
  left: 60px;
  position: absolute;
}

#content_MainPageContent_Next {
  width: 600px;
}

#content_MainPageContent_Next {
  z-index: 29;
}

#content_MainPageContent_Next {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Next {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_MainPageContent_Next {
  font-weight: normal;
}

#content_MainPageContent_Second_Next {
  height: 30px;
}

#content_MainPageContent_Second_Next {
  top: 680px;
  position: absolute;
}

#content_MainPageContent_Second_Next {
  left: 60px;
  position: absolute;
}

#content_MainPageContent_Second_Next {
  width: 600px;
}

#content_MainPageContent_Second_Next {
  z-index: 30;
}

#content_MainPageContent_Second_Next {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Second_Next {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_MainPageContent_Second_Next {
  font-weight: normal;
}

#content_MainPageContent_ProgramStatus {
  top: 460px;
  position: absolute;
}

#content_MainPageContent_ProgramStatus {
  left: 240px;
  position: absolute;
}

#content_MainPageContent_ProgramStatus {
  width: 40px;
}

#content_MainPageContent_ProgramStatus {
  height: 40px;
}

#content_MainPageContent_ProgramStatus {
  z-index: 31;
}

#content_MainPageContent_InformationDisplay {
  height: 30px;
}

#content_MainPageContent_InformationDisplay {
  top: 460px;
  position: absolute;
}

#content_MainPageContent_InformationDisplay {
  left: 800px;
  position: absolute;
}

#content_MainPageContent_InformationDisplay {
  width: 220px;
}

#content_MainPageContent_InformationDisplay {
  z-index: 32;
}

#content_MainPageContent_InformationDisplay {
  font-size: 20px;
}

#content_MainPageContent_PathVel {
  height: 30px;
}

#content_MainPageContent_PathVel {
  top: 540px;
  position: absolute;
}

#content_MainPageContent_PathVel {
  left: 840px;
  position: absolute;
}

#content_MainPageContent_PathVel {
  width: 140px;
}

#content_MainPageContent_PathVel {
  z-index: 33;
}

#content_MainPageContent_PathVel {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_PathVel {
  font-size: 16px;
}

#content_MainPageContent_PathVelValue {
  height: 30px;
}

#content_MainPageContent_PathVelValue {
  top: 540px;
  position: absolute;
}

#content_MainPageContent_PathVelValue {
  left: 1060px;
  position: absolute;
}

#content_MainPageContent_PathVelValue {
  width: 140px;
}

#content_MainPageContent_PathVelValue {
  z-index: 34;
}

#content_MainPageContent_PathVelValue input {
  color: red;
}

#content_MainPageContent_PathVelValue span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_PathVelValue input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_PathVelValue input {
  font-size: 24px;
}

#content_MainPageContent_LineNumber {
  height: 30px;
}

#content_MainPageContent_LineNumber {
  top: 600px;
  position: absolute;
}

#content_MainPageContent_LineNumber {
  left: 840px;
  position: absolute;
}

#content_MainPageContent_LineNumber {
  width: 140px;
}

#content_MainPageContent_LineNumber {
  z-index: 35;
}

#content_MainPageContent_LineNumber {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_LineNumber {
  font-size: 16px;
}

#content_MainPageContent_Line_Number {
  height: 30px;
}

#content_MainPageContent_Line_Number {
  top: 600px;
  position: absolute;
}

#content_MainPageContent_Line_Number {
  left: 1060px;
  position: absolute;
}

#content_MainPageContent_Line_Number {
  width: 140px;
}

#content_MainPageContent_Line_Number {
  z-index: 36;
}

#content_MainPageContent_Line_Number input {
  color: red;
}

#content_MainPageContent_Line_Number span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_Line_Number input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_Line_Number input {
  font-size: 24px;
}

#content_MainPageContent_StateNumber {
  height: 30px;
}

#content_MainPageContent_StateNumber {
  top: 660px;
  position: absolute;
}

#content_MainPageContent_StateNumber {
  left: 840px;
  position: absolute;
}

#content_MainPageContent_StateNumber {
  width: 140px;
}

#content_MainPageContent_StateNumber {
  z-index: 37;
}

#content_MainPageContent_StateNumber {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_StateNumber {
  font-size: 16px;
}

#content_MainPageContent_Line_Number1 {
  height: 30px;
}

#content_MainPageContent_Line_Number1 {
  top: 660px;
  position: absolute;
}

#content_MainPageContent_Line_Number1 {
  left: 1060px;
  position: absolute;
}

#content_MainPageContent_Line_Number1 {
  width: 140px;
}

#content_MainPageContent_Line_Number1 {
  z-index: 38;
}

#content_MainPageContent_Line_Number1 input {
  color: red;
}

#content_MainPageContent_Line_Number1 span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_Line_Number1 input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_Line_Number1 input {
  font-size: 24px;
}

#content_MainPageContent_OverallTime {
  height: 30px;
}

#content_MainPageContent_OverallTime {
  top: 60px;
  position: absolute;
}

#content_MainPageContent_OverallTime {
  left: 680px;
  position: absolute;
}

#content_MainPageContent_OverallTime {
  width: 160px;
}

#content_MainPageContent_OverallTime {
  z-index: 39;
}

#content_MainPageContent_OverallTime {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_OverallTime {
  font-size: 16px;
}

#content_MainPageContent_PathVelValue1 {
  height: 30px;
}

#content_MainPageContent_PathVelValue1 {
  top: 60px;
  position: absolute;
}

#content_MainPageContent_PathVelValue1 {
  left: 880px;
  position: absolute;
}

#content_MainPageContent_PathVelValue1 {
  width: 140px;
}

#content_MainPageContent_PathVelValue1 {
  z-index: 40;
}

#content_MainPageContent_PathVelValue1 input {
  color: red;
}

#content_MainPageContent_PathVelValue1 span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_PathVelValue1 input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_PathVelValue1 input {
  font-size: 24px;
}

#content_MainPageContent_MovementTime {
  height: 30px;
}

#content_MainPageContent_MovementTime {
  top: 140px;
  position: absolute;
}

#content_MainPageContent_MovementTime {
  left: 680px;
  position: absolute;
}

#content_MainPageContent_MovementTime {
  width: 180px;
}

#content_MainPageContent_MovementTime {
  z-index: 41;
}

#content_MainPageContent_MovementTime {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_MovementRunTime {
  height: 30px;
}

#content_MainPageContent_MovementRunTime {
  top: 140px;
  position: absolute;
}

#content_MainPageContent_MovementRunTime {
  left: 880px;
  position: absolute;
}

#content_MainPageContent_MovementRunTime {
  width: 140px;
}

#content_MainPageContent_MovementRunTime {
  z-index: 42;
}

#content_MainPageContent_MovementRunTime input {
  color: red;
}

#content_MainPageContent_MovementRunTime span.breaseNumericOutput_unit {
  color: red;
}

#content_MainPageContent_MovementRunTime input {
  justify-content: center;
  text-align: center;
}

#content_MainPageContent_MovementRunTime input {
  font-size: 24px;
}

#content_MainPageContent_Line1 {
  z-index: 43;
}

#content_MainPageContent_Line1 line {
  stroke: navy;
}

#content_MainPageContent_Line1 line {
  stroke-width: 4px;
}

#content_MainPageContent_Line2 {
  z-index: 44;
}

#content_MainPageContent_Line2 line {
  stroke: navy;
}

#content_MainPageContent_Line2 line {
  stroke-width: 4px;
}

#content_MainPageContent_Line3 {
  z-index: 45;
}

#content_MainPageContent_Line3 line {
  stroke: navy;
}

#content_MainPageContent_Line3 line {
  stroke-width: 4px;
}

#content_MainPageContent_Reference {
  top: 0px;
  position: absolute;
}

#content_MainPageContent_Reference {
  left: 1054px;
  position: absolute;
}

#content_MainPageContent_Reference {
  width: 280px;
}

#content_MainPageContent_Reference {
  height: 380px;
}

#content_MainPageContent_Reference {
  z-index: 46;
}

#content_MainPageContent_Line4 {
  z-index: 47;
}

#content_MainPageContent_Line4 line {
  stroke: navy;
}

#content_MainPageContent_Line4 line {
  stroke-width: 5px;
}

#content_MainPageContent_Line5 {
  z-index: 48;
}

#content_MainPageContent_Line5 line {
  stroke: navy;
}

#content_MainPageContent_Line5 line {
  stroke-width: 5px;
}

#content_MainPageContent_Message {
  top: 760px;
  position: absolute;
}

#content_MainPageContent_Message {
  left: 40px;
  position: absolute;
}

#content_MainPageContent_Message {
  width: 1240px;
}

#content_MainPageContent_Message {
  height: 60px;
}

#content_MainPageContent_Message {
  z-index: 49;
}

#content_MainPageContent_Message {
  background-color: rgba(255, 255, 255, 0);
}

#content_MainPageContent_Message {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_MainPageContent_Message {
  font-size: 20px;
}
