#Manual_Main_content_WebViewer1 {
  top: 0px;
  position: absolute;
}

#Manual_Main_content_WebViewer1 {
  left: 0px;
  position: absolute;
}

#Manual_Main_content_WebViewer1 {
  width: 1320px;
}

#Manual_Main_content_WebViewer1 {
  height: 840px;
}

#Manual_Main_content_WebViewer1 {
  z-index: 0;
}
